* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.imageWrapper img{
    align-items: center;
}
.feature-icon{
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}